* {
	padding: 0px;
	margin: 0px;
}

.lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-width: 350px;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	background-image: url('./6028913-world-map-time-zones.jpg');
	background-attachment: fixed;
}

/* ///////////////////////////////////// header content ////////////////////////////// */

.header {
	width: 100%;
	height: 50px;
	margin: 0px 0px 30px 0px;
	padding: 20px;
	font-size: 24px;
}

/* ///////////////////////////////////// menu Burger  ////////////////////////////// */

.menu_icon {
	width: 30px;
	height: 18px;
	position: relative;
	cursor: pointer;
	z-index: 11;
}

.menu_icon span,
.menu_icon::before,
.menu_icon::after {
	left: 0;
	height: 10%;
	width: 100%;
	position: absolute;
	transition: all 0.3s ease 0s;
	background-color: #fff;
}

.menu_icon::before,
.menu_icon::after {
	content: '';
}

.menu_icon::before {
	top: 0;
}

.menu_icon::after {
	bottom: 0;
}

.menu_icon span {
	top: 50%;
	transform: scale(1) translate(0%, -50%);
}

.menu_body {
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	padding: 50px 20px 20px 20px;
	background-color: rgba(0, 0, 0, 0.6);
	transition: left 0.3s ease 0s;
	z-index: 5;
	box-sizing: border-box;
	display: flex;
	column-gap: 20px;
	overflow: auto;
}

.menu_body.active-menu {
	left: 0;

}

.menu_icon.active-menu span {
	transform: scale(0) translate(0px, -50%);
}

.menu_icon.active-menu::before {
	top: 50%;
	transform: rotate(-45deg) translate(0px, -50%);
}

.menu_icon.active-menu::after {
	bottom: 50%;
	transform: rotate(45deg) translate(0px, 50%);
}

/* ///////////////////////////////////// Form content ////////////////////////////// */


.iuputs {
	margin: 20px 0px;
}

.input input[type="text"] {
	height: 30px;
	padding: 0px 20px;
	max-width: 200px;
	margin: 0px 0px 20px 20px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid white;
	color: white;
}

.input input[type="text"]:disabled {
	background-color: rgba(0, 0, 0, 0.9);
	color: black;
}

input[type="radio"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	border-radius: 50%;
	width: 16px;
	height: 16px;

	border: 2px solid #999;
	transition: 0.2s all linear;
	outline: none;
	margin-right: 5px;

	position: relative;
	top: 4px;
}

input:checked {
	border: 6px solid white;
}

.input label {
	color: white;
	margin: 0px 0px 10px 50px;
	display: block;
}

.input_btn {
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
}

.show-var {
	color: white;
	font-size: 16px;
	display: none;
}

.show-var h2 {
	font-size: 14px;
	margin: 0px 0px 10px 0px;
}

.show-var span {
	padding: 5px;
}

.show-var__item {
	padding: 10px;
	border: 1px solid white;
	border-radius: 10px;
	cursor: pointer;
	margin: 0px 0px 10px 0px;
}


/* ///////////////////////////////////// main content ////////////////////////////// */

.main {
	height: 2000px;
}

.main__self-time {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px 0px 30px 0px;


}

/* ///////////////////////////////////// clock wrapper  ////////////////////////////// */

.items {
	display: grid;
	/* отступ между элементами */
	gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	/* display: flex;
	flex-wrap: wrap;
	column-gap: 20px; */
	row-gap: 20px;
	margin: 0px 0px 30px 0px;
	padding: 10px 20px;
}

.wrapper-item {
	display: flex;
	max-width: 400px;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.wrapper-item__title {
	font-size: 14px;
	font-weight: bold;
	border: 1px solid gray;
	border-radius: 10px;
	padding: 10px 30px;
	margin: 0px 0px 10px 0px;
	display: inline-block;
	box-shadow: 0px 0px 12px 8px;
}



.wrapper-item__item {
	border: thick double black;
	border-radius: 50%;
	box-shadow: 0px 0px 17px 3px black;

}

.close {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 5;
	display: none;
}

.active {
	display: block;
}

.close:hover {
	color: red;
	cursor: pointer;
}

/* ///////////////////////////////////// clock   ////////////////////////////// */

.clock {
	width: 300px;
	height: 300px;
	background-image: url('./clock\ 1.png');
	background-origin: padding-box;
	box-sizing: border-box;
	position: relative;
}

.clock__hour {
	position: absolute;
}

.clock__min {
	position: absolute;
}

.clock_sec {
	position: absolute;
}

.wrapper-item__item {
	position: relative;
	padding: 10px;
}


.addClock {}